* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

[class*="col-"] {
  min-height: 100px;;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

.pink {
    background-color: pink;
}

.purple {
    background-color: purple;
}

h1, h2 {
    text-align: center;
    margin: 5rem auto;
}
