* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

[class*="col-"] {
  min-height: 100px;;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

.pink {
    background-color: pink;
}

.purple {
    background-color: purple;
}

h1, h2 {
    text-align: center;
    margin: 5rem auto 2rem auto;
}

#no-wrap div, #wrap div {
    flex-basis: 200px;
}

#justify>div>div>div {
    width: 200px;
}

#align-items>div>div {
    height: 300px;
    background-color: grey;
}

#align-items>div>div>div {
    width: 200px;
}
